<div class="flex-container container" id="form-container">
  <form id="user-form" class="content" [formGroup]="signInForm" (ngSubmit)="onSubmit()">
    <input type="text"
           [placeholder]="loginPlaceholder"
           (input)="touchField()"
           formControlName="login">

    <input type="password"
           [placeholder]="passwordPlaceholder"
           (input)="touchField()"
           formControlName="password">

    <div class="input-container">
      <input type="checkbox"
             id="register-check"
             formControlName="register">
      <label for="register-check" class="form-label">{{registerLabel}}</label>
    </div>
    <input type="submit"
           [value]="submitButtonLabel">
  </form>
</div>

<div class="flex-container container" *ngIf="(loginErrors() || passwordErrors()) && submitted">
  <div class="text-container content">
    <p>{{validationMessage}}</p>
  </div>
</div>

<div class="flex-container container" *ngIf="result">
  <div class="text-container content">
    <p>{{resultMessage}}</p>
  </div>
</div>
