<div class="container">
  <div id="user-form-container">
    <form id="user-form" [formGroup]="signInForm" (ngSubmit)="onSubmit()">
      <input type="text"
             placeholder="{{loginPlaceholder}}"
             formControlName="login">
      <input type="password"
             [placeholder]="passwordPlaceholder"
             formControlName="password">
      <div class="input-container">
        <input type="checkbox"
               id="register-check"
               formControlName="register">
        <label for="register-check" class="form-label">{{registerLabel}}</label>
      </div>
      <input type="submit"
             [value]="submitButtonLabel">
    </form>
  </div>

</div>
