<div class="flex-container container" id="form-container">
  <form id="user-form" class="content" [formGroup]="signInForm">
    <input type="text"
           [placeholder]="loginPlaceholder"
           (input)="touchField()"
           formControlName="login">

    <input type="password"
           [placeholder]="passwordPlaceholder"
           (input)="touchField()"
           formControlName="password">

    <input type="submit"
           [value]="logInButtonLabel" (click)="onLogInSubmit()">
    <input type="submit"
           [value]="signUpButtonLabel" (click)="onSignUpSubmit()">
  </form>
</div>

<div class="flex-container container" *ngIf="((loginErrors() || passwordErrors()) && submitted) || requestFail">
  <div class="text-container content">
    <p>{{validationMessage}}</p>
  </div>
</div>

<div class="flex-container container" *ngIf="result">
  <div class="text-container content">
    <p>{{resultMessage}}</p>
  </div>
</div>
