#logout-container {
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  overflow: auto;
  background-color: wheat;
  text-align: center;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  max-width: 1000px;
}

input[type="button"] {
  margin-top: .3rem;
  background: darkolivegreen;
  color:  #f6fafb;
  width: 50%;
  padding: 0 1rem;
  margin-bottom: .3rem;
  line-height: 2rem;
  border-radius: 1rem;
  border-width: .1rem;
  display: inline-block;
}

input[type="button"]:hover {
  background-color: seagreen;
}

#logout-container span {
  color: black;
}
