#table-container {
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  background-color: #370f54;
}

#result-table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border: .3rem solid #E9EFF6;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}

table th {
  color: #f69a73;
  font-size: large;
}

table tr {
  color: #E9EFF6;
}

table tbody tr:hover {
  background: #663399FF;
}

#table-header:hover th {
  background: #f69a73;
  color: #370f54;
}
