<div id="table-container">
  <div id="table-scroll-container">
    <table id="result-table">
      <thead>
      <tr id="table-header">
        <th class="coords-col">{{xColumnLabel}}</th>
        <th class="coords-col">{{yColumnLabel}}</th>
        <th class="coords-col">{{rColumnLabel}}</th>
        <th class="hit-col">{{hitColumnLabel}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let entry of entries">
        <td>{{entry.x}}</td>
        <td>{{entry.y}}</td>
        <td>{{entry.r}}</td>
        <td>{{entry.hit}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
