#table-container {
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  background-color: dimgray;
}

#result-table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border: .3rem solid lightgray;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}

table th {
  color: white;
  font-size: large;
}

table tr {
  color: #E9EFF6;
}

table tbody tr:hover {
  background: white;
  color: black;
}


