<div id="table-container">
  <div id="table-scroll-container">
    <table id="result-table">
      <thead>
      <tr id="table-header">
        <th class="coords-col">{{xColumnLabel}}</th>
        <th class="coords-col">{{yColumnLabel}}</th>
        <th class="coords-col">{{rColumnLabel}}</th>
        <th class="hit-col">{{hitColumnLabel}}</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>true</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
