 <form id="entry-form" [formGroup]="entryForm" (ngSubmit)="onSubmit()">

      <div id="x-block" class="form-blocks">
        <input type="text" (keydown)="inputFilter($event)" maxLength="10"
               formControlName="x"
               [placeholder]="xPlaceholder">
      </div>

      <div id="y-block" class="form-blocks">
        <input type="text" (keydown)="inputFilter($event)" maxLength="10"
               formControlName="y"
               [placeholder]="yPlaceholder">
      </div>

      <div id="r-block" class="form-blocks">
        <input #rVar type="text" (keydown)="inputFilter($event)" maxLength="10"
               formControlName="r"
               (input)="rChanged()"
               [placeholder]="rPlaceholder">
      </div>



      <div id="button-block" class="form-blocks">
        <input type="submit" class="form-buttons" id="submit-button"
               [value]="submitButtonLabel">
        <input type="reset" class="form-buttons" id="reset-button"
               [value]="resetButtonLabel" (click)="clearAll()">
      </div>
    </form>

