/*.container {*/
/*  width: 100%;*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  justify-content: center;*/
/*}*/

/*#entry-form-container {*/
/*  align-items: center;*/
/*  display: flex;*/
/*  background-color: #663399FF;*/
/*  width: 80%;*/
/*  !*margin-left: 7%;*!*/
/*  justify-content: center;*/
/*  border-radius: 1rem;*/
/*  border-width: .5rem;*/
/*}*/

#entry-form {
  margin: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #370f54;
  display: flex;
  flex-direction: column;
  width: 96%;
  overflow: auto;
}

.input-container {
  display: flex;
  flex-direction: row;
}

* {
  box-sizing: border-box;
}

.form-blocks,.radio-container {
  display: flex;
  flex-direction: row;
}

.form-blocks {
  justify-content: center;
  padding-bottom: .5rem;
}

.radio-container {
  margin-left: 2rem;
}

input, label {
  font-size: medium;
  font-family: 'Roboto', sans-serif;
}

input:not([type="radio"]) {
  display: block;
  padding: 0 1rem;
  margin-bottom: .3rem;
  margin-top: .3rem;
  line-height: 2rem;
  border-radius: 1rem;
  border-color: #370f54;
  border-width: .1rem;
}

input[type="text"] {
  background: #E9EFF6;
  width: 100%;
}

label {
  color: #f6fafb;
}

.form-buttons {
  margin-top: .6rem;
  background: #f69a73;
  color:  #f6fafb;
  width: 40%;
}

.form-buttons:hover {
  /*background: #d87d56;*/
  background-color: rebeccapurple;
}

.form-blocks > label {
  color: #f69a73;
}
