.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*#graph-container {*/
/*  align-items: center;*/
/*  display: flex;*/
/*  background-color: #663399FF;*/
/*  width: 80%;*/
/*  justify-content: center;*/
/*  border-radius: 1rem;*/
/*  border-width: .5rem;*/
/*}*/

#graph-plane {
  padding: 2rem;
  margin: 1rem;
  border-radius: 1rem;
  overflow: auto;
  background-color: #370f54;
  text-align: center;
  width: 60%;
}

/*svg {*/
/*  background-color: #370f54;*/
/*  border-radius: 1rem;*/
/*}*/

svg text {
  fill: #E9EFF6;
}

svg line {
  stroke: #E9EFF6;
}

svg path, svg polygon {
  stroke: #d87d56;
  fill: #f69a73;
  fill-opacity: 0.5;
}

svg polygon.axis-arrows {
  fill: #E9EFF6;
  stroke: #E9EFF6;
}

