#graph-plane {
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  overflow: auto;
  background-color: white;
  text-align: center;
  max-width: 1000px;
}

svg text {
  fill: black;
}

svg line {
  stroke: black;
}

svg path, svg polygon {
  stroke: #d87d56;
  fill: #d87d56;
  fill-opacity: 0.5;
}

svg polygon.axis-arrows {
  fill: gray;
  stroke: black;
}

