#main-content {
  width: 100%;
  box-sizing: border-box;
}

@media screen and (min-width: 1024px) {
  .input-area {
    min-width: 41%;
  }

  #main-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
