.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.coloured-block {
  text-align: center;
  padding-top: 2rem;
  background-color: wheat;
  border: 1px solid black;
  border-radius: 15px;
  padding-bottom: 2rem;
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.coloured-block > span {
  /*color: #370f54;*/
  padding: 1rem;
  color: black;
}

#head-area {
  width: 80%;
  border-radius: 1rem;
}

